@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Custom dark colors */
  --color-dark-bg: #141413;
  --color-dark-card: #1c1c1b;
  --color-dark-hover: #242423;
  --color-dark-border: #2a2a29;
  --color-dark-border-light: #333332;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141413;
    --foreground: #e5e5e4;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}